<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <title>Anonimizacija</title>
</head>

<body>
    <div class="container">
        <div class='row'>
            <div class='col'>
                <u>Besedilo za anonimizacijo:</u>
            </div>
        </div>
        <div class="row">
            <div class='col'>
                <form>
                    <div class="form-group">
                        <textarea class="form-control" id="mainText" rows="8"></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class='row'>
            <div class="col">
                <div class='text-center'>
                    <button type="button" class="btn btn-primary" id="anonButton">Anonimiziraj</button>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <u>Anonimizirano besedilo:</u>
            </div>
        </div>
        <div class="row">
            <div class='col' id='mainOut'>
            </div>
        </div>
    </div>

    <script src="../static/js/jquery-3.5.1.js"></script>
    <script src="../static/js/page.js"></script>
</body>

</html>